<form [formGroup] = "patientObj.formPatientGroup">

    Patient Id : <input  [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="patientObj.id" value="" /><br /><br />
    Patient Name : <input formControlName="namecontrol" type="text" [(ngModel)]="patientObj.name" value="" /><br />
    <div [hidden]="!(patientObj.formPatientGroup.controls['namecontrol'].hasError('required'))">Patient Name is required.</div><br />
    Patient Problem : <input formControlName="problemdescriptioncontrol" type="text" [(ngModel)]="patientObj.problemDescription" value="" /><br />
    <div [hidden]="!(patientObj.formPatientGroup.controls['problemdescriptioncontrol'].hasError('required'))">Patient Problem Description is required.</div><br />
    <input [disabled]="!(patientObj.formPatientGroup.valid)" type="submit" (click)="Submit()" value="Add Patient" /><br />
<br /><br />

</form>
<table>
    <tr>
        <td>Name</td>
        <td>Description</td>
    </tr>
    <tr *ngFor="let pat of patientObjs">
        <td>{{[pat.name]}}</td>
        <td>{{[pat.problemDescription]}}</td>
    </tr>
</table>

