
Patient Id : <input type="text" [(ngModel)]="patientObj.id" value="" /><br /><br />
Patient Name : <input type="text" [(ngModel)]="patientObj.name" value="" /><br /><br />
Patient Problem : <input type="text" [(ngModel)]="patientObj.problemDescription" value="" /><br />
<input type="submit" (click)="Submit()" value="Add Patient" /><br />
<br /><br />

<table>
    <tr>
        <td>Name</td>
        <td>Description</td>
    </tr>
    <tr *ngFor="let pat of patientObjs">
        <td>{{[pat.name]}}</td>
        <td>{{[pat.problemDescription]}}</td>
    </tr>
</table>